services:
    oro_organization.api.config.add_owner_validator:
        class: Oro\Bundle\OrganizationBundle\Api\Processor\GetConfig\AddOwnerValidator
        arguments:
            - '@oro_api.doctrine_helper'
            - '@oro_security.owner.ownership_metadata_provider'
            - '@oro_api.validation_helper'
        tags:
            - { name: oro.api.processor, action: get_config, extra: '!identifier_fields_only', targetAction: update|create|update_relationship|add_relationship|delete_relationship|update_subresource|add_subresource|delete_subresource, priority: -50 }

    oro_organization.api.set_ownership_associations:
        class: Oro\Bundle\OrganizationBundle\Api\Processor\SetOwnershipAssociations
        arguments:
            - '@oro_organization.entity_ownership_associations_setter'
        tags:
            - { name: oro.api.processor, action: customize_form_data, event: pre_validate, parentAction: create, priority: 10 }

    oro_organization.api.frontend.organizationcontact.handle:
        class: Oro\Bundle\OrganizationBundle\Api\Processor\HandleOrganizationContact
        arguments:
            - 'frontend'
            - '@oro_organization.provider.frontend.organizationcontact'
        tags:
            - { name: oro.api.processor, action: create, group: save_data, requestType: frontend, class: Oro\Bundle\OrganizationBundle\Api\Model\Contact }
  
    oro_organization.api.frontend.organizationcontact.normalize:
        class: Oro\Bundle\ApiBundle\Processor\Shared\NormalizeEntity
        arguments:
            - '@oro_api.object_normalizer'
        tags:
            - { name: oro.api.processor, action: create, group: normalize_data, requestType: frontend, class: Oro\Bundle\OrganizationBundle\Api\Model\Contact }
    # return HTTP_OK status code instead of HTTP_CREATED for "login" POST request
    oro_organization.api.frontend.organizationcontact.set_http_ok_response_status_code:
        class: Oro\Bundle\ApiBundle\Processor\Shared\SetHttpResponseStatusCode
        tags:
            - { name: oro.api.processor, action: create, group: normalize_result, requestType: frontend&rest, class: Oro\Bundle\OrganizationBundle\Api\Model\Contact, priority: -29 }


    oro_organization.api.frontend.organizationsearchbyphone.normalize:
        class: Oro\Bundle\ApiBundle\Processor\Shared\NormalizeEntity
        arguments:
            - '@oro_api.object_normalizer'
        tags:
            - { name: oro.api.processor, action: create, group: normalize_data, requestType: frontend, class: Oro\Bundle\OrganizationBundle\Api\Model\SearchByPhone }

    # return HTTP_OK status code instead of HTTP_CREATED for "login" POST request
    oro_organization.api.frontend.organizationsearchbyphone.set_http_ok_response_status_code:
        class: Oro\Bundle\ApiBundle\Processor\Shared\SetHttpResponseStatusCode
        tags:
            - { name: oro.api.processor, action: create, group: normalize_result, requestType: frontend&rest, class: Oro\Bundle\OrganizationBundle\Api\Model\SearchByPhone, priority: -29 }

    oro_organization.api.frontend.organizationsearchbyphone.handle:
        class: Oro\Bundle\OrganizationBundle\Api\Processor\HandleSearchByPhone
        arguments:
            - 'frontend'
            - '@oro_organization.provider.frontend.organizationcontact'
        tags:
            - { name: oro.api.processor, action: create, group: save_data, requestType: frontend, class: Oro\Bundle\OrganizationBundle\Api\Model\SearchByPhone }
            
    oro_organization.api.organization_is_friends:
        class: Oro\Bundle\OrganizationBundle\Api\Processor\ComputeOrganizations
        arguments:
            - '@oro_security.token_accessor'
        tags:
            - { name: oro.api.processor, action: customize_loaded_data,  collection: true ,requestType: frontend, class: Oro\Bundle\OrganizationBundle\Entity\Organization, priority: -29}



    